@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', Cursive;
    --fonte3: 'Sriracha', Cursive;
}

header {
    min-height: 200px;
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

header > h1 {
    padding: 60px 0px 0px 0px;
    font: normal bold 4em var(--fonte2);
}

header > p {
    font: normal normal 1em var(--fonte1);
}

main p {
    font: normal normal 1em var(--fonte3);
    margin: 40px 20px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.imagem {
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 0px 0px 10px black;
}

.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.299);
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 5px;
}

#bg01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

#bg02 {
    background-image: url(../imagens/background002.jpg);
}

footer {
    background-color: black;
    color: white;
    font: normal normal 1em var(--fonte1);
    text-align: center;
    padding: 10px;
}