@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'Passion One', Cursive;
    --fonte03: 'Sriracha', Cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte01);
}

header, footer {
    background-color: black;
    color: white;
    text-align: center;
}

header {
    padding: 50px;
}

header > h1 {
    font: normal bold 2em var(--fonte02);
    font-variant: small-caps;
    font-size: 10vw;
}

header a, footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte03);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
}

section.imagem {
    background-color: rgb(34, 34, 34);
    color: white;
    background-size: cover;
    box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.627);
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.514);
    padding: 10px;
    text-shadow: 1px 1px 0px black;
}

section#bg01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

section#bg02 {
    background-image: url(../imagens/background002.jpg);
    
}


footer {
    padding: 10px;
}