@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 300px;
    border-collapse: collapse;
    text-align: center;
}

td {
    border: 2px solid black;
    padding: 10px;
}