@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    position: relative;
    width: 500px;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

thead, tfoot {
    background-color: gray;
}

thead > tr > th {
    position: sticky;
    top: -1px;
    background-color: gray;
}
tbody > tr:nth-child(2n){
    background-color: lightgray;
}

.num {
    text-align: right;
}