@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 2px solid black;
    padding: 10px;
}

div#container {
    overflow-x: auto;
}