@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 400px;
    border-collapse: collapse;
}

td, th {
    border: 2px solid black;
    padding: 10px;
}

.amarelo {
    background-color: yellow;
}

.azul {
    background-color: blue;
}

.verde {
    background-color: green;
}
