@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    text-align: center;
    width: 600px;
    border-collapse: collapse;
}

caption {
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
}

td, th {
    border: 2px solid black;
    padding: 10px;
}