@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    text-align: center;
}

td, th {
    border: 2px solid black;
    padding: 10px;
}

thead, .titulo {
    background-color: gray;
    color: white;
    font-weight: bold;
}

.esquerda {
    text-align: left;
}