@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-color: black;
    background-image: url(../imagens/wallpaper002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background-color: white;
    width: 400px;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
}