@charset "UTF-8";

#container {
    background-color: blueviolet;
    background-image: url('../imagens/target001.png');
    background-size: 100% 100%;

    height: 95vh;
    padding: 10px;
    position: relative;
}

#conteudo {
    background-color: yellow;
    background-image: url('../imagens/target001.png');
    background-size: 100% 100%;

    height: 200px;
    width: 400px;
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}